@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "./palette.less";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jumbotron {
  margin: 20px auto 0 auto;
  background: @primaryColor;
  text-align: center;
  color: @textPrimaryColor;
}

.about-me {
  margin: 25px auto 0 auto;
}

#about-me-card {


}

#banner-me {
  // TODO fix this : mixin not working when just using .jumbotron
  //margin: 20px auto 0 auto;
  margin: 0 auto 0 auto;
  background: @primaryColor;
  text-align: center;
  color: @textPrimaryColor;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  p {
    color: @dividerColor;
  }
  img {
    border-radius : 50%;
    //border-color: @accentColor;
    //border: 3px solid @accentColor;
    border: 3px solid;
  }
}


#footer-me {
  background: @primaryColor;
  text-align: center;
  color: @dividerColor;

}
